<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('build/app.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block navigation %}{% endblock %}
        {% block body %}{% endblock %}
        {% block main %}{% endblock %}
        {% block footer %}{% endblock %}
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
